
img{
    float:left;
    padding: 60px;
    border-radius:50%;
    box-sizing:border-box;
    size:200px;
    height: 250px;
    width: 250px;
 
}


.about {
    width: 50%;
    background-color: #64CCC5;
}

.study {
    width: 50%;
    background-color: #176B87;
}

.hobbies {
    width: 50%;
    background-color: #8e8ffa;
}
div{
    color: white;
    margin: 20px auto;
}
h1{
    background-color:rgb(118, 0, 126);
}

.main{
    width: 75%;
    background-color: wheat;
}

.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h3{
    text-transform: uppercase;
    color:rgb(97, 11, 97);
    font-weight: 500;
}
.skills .box  .percent{
    position: relative;
    width:100%;
    height: 10px;
    background:#f0f0f0;
}
.skills .box .percent div {
    position: absolute;
    height:10px;
    background:violet;
}